<table class="table table-striped">
                <thead>
                  <tr>
                    <th class="text-left">Meaning</th>
                    <th class="text-left">Profit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="background: #CC0101;color: #fff;">
                    <td>SUICIDE!</td>
                    <td>less than 10</td>
                  </tr>
                  <tr style="background: #C9DAF8;">
                    <td>NO!</td>
                    <td>b/w 10 & 40</td>
                  </tr>
                  <tr style="background: #D5A6BD;">
                    <td>Profit if Quantity</td>
                    <td>b/w 40 & 100</td>
                  </tr>
                  <tr style="background: #FFD966;">
                    <td>Profitable ✔</td>
                    <td>b/w 100 & 200</td>
                  </tr>
                  <tr style="background: #8E7CC3;color: #fff;">
                    <td>Very Good✌</td>
                    <td>b/w 200 & 300</td>
                  </tr>
                  <tr style="background: #61CF30;color: #fff;">
                    <td>Excellent ★</td>
                    <td>b/w 300 & 500</td>
                  </tr>
                  <tr style="background: #FF00FF;color: #fff;">
                    <td>Top of the world!⚡</td>
                    <td>500+</td>
                  </tr>
                </tbody>
            </table>